<!DOCTYPE html>
<html>
  <head>
    <title>AK TRAVELS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body >
  <div class="row">
     <div class="col-lg-6 col-lg-offset-1">
    <script src="http://code.jquery.com/jquery.js"></script>
    
    <script src="js/bootstrap.min.js"></script>

  
  



<table class="table table-hover">
  <tr>
    <th>customer name</th>
    <th >Address</th>
    <th>email</th>
    <th>phno</th>
  
    <th><div class="btn btn-default">

<%= link_to 'New customer', new_customer_path %></div></th>
    <th></th>
    <th></th>
  </tr>
 

<% @customer.each do |customer| %>
  <tr>
    <td><%= customer.name %></td> 
    <td><%= customer.address %> </td>
    <td><%= customer.email %></td>
    <td><%= customer.phno %></td>

    <td><div class="btn btn-success"><%= link_to 'Show', customer  %></div></td>
    <td><div class="btn btn-warning"><%= link_to 'Edit', edit_customer_path(customer) %></div></td>
    <td><div class="btn btn-danger"><%= link_to 'Destroy', customer_path(customer),
                    method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
  </tr>
<% end %>
</table>

</div>
</div>
  


<script src="js/respond.js"></script>

  </body>
</html>

